<h2>geo-test</h2>

<p id="demo">hey</p>

<!-- <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.min.js"></script> -->
<script>

var target
var x = document.getElementById("demo");

// function getLocation() {
//     if (navigator.geolocation) {
//         navigator.geolocation.watchPosition(showPosition);
//     } else {
//         x.innerHTML = "Geolocation is not supported by this browser.";
//     }
// }

function storePosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
    target = {
      latitude : position.coords.latitude,
      longitude: position.coords.longitude
    };
    console.log(target)
}

var id, options;

function success(pos) {
  var crd = pos.coords;
  // crd.latitude = crd.latitude.toFixed(4);
  // crd.longitude = crd.longitude.toFixed(4);

  if (target.latitude.toFixed(3) != crd.latitude.toFixed(3) || target.longitude.toFixed(3) != crd.longitude.toFixed(3)) {
    alert('Congratulations, you are at the target');
    navigator.geolocation.clearWatch(id);
  }
}

function error(err) {
  console.warn('ERROR(' + err.code + '): ' + err.message);
  alert('didnt work');
}


options = {
  enableHighAccuracy: true,
  timeout: 50000,
  maximumAge: 0
};

$(document).ready(function() {
  $('button').on('click', function (){
    navigator.geolocation.getCurrentPosition(storePosition)
    id = navigator.geolocation.watchPosition(success, error, options);
  })

})

</script>
